<div class='info hide'>
	<a href='delete' title='click to delete'></a>
	<a href='edit' title='click to edit'></a>
	<p class='description'>{{description}}</p>
</div>
<video src='uploads/{{content}}' title='Hover for details'></video>