<div class='quote'>
<img src='assets/quotes.png' alt='quoteLeft'/>
<p class='text-quote'>{{content}}</p>
<img src='assets/quotes.png' alt='quoteLeft'/>
<p class='author'>- {{author}}</p>
</div>
<div class='info'>
	<a href='' title='click to delete' class="icon remove"></a>
	<!--<a href='#edit/{{id}}' title='click to edit' class="icon cog"></a>-->
	<p class='description'>{{description}}</p>
</div>
